<!--<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/dino_victor/" target="_blank">@Dino Zhang</a></p>-->
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/dinozhang/" target="_blank">@DinoZhang</a></p>
<!--<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ellekasai" target="_blank">linkedin.com/in/ellekasai</a></p>-->
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://dinozhang.org/" target="_blank">dinozhang.org</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:victordinozhang@gmail.com" target="_blank">victordinozhang@gmail.com</a></p>